<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.6.2" targetFramework="net472" />
  <package id="Humanizer.Core.de" version="2.6.2" targetFramework="net472" />
  <package id="Humanizer.Core.es" version="2.6.2" targetFramework="net472" />
  <package id="Humanizer.Core.fr" version="2.6.2" targetFramework="net472" />
  <package id="Humanizer.Core.zh-CN" version="2.6.2" targetFramework="net472" />
</packages>